<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="daq.manage.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="daq.manage.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="is_send" property="isSend" jdbcType="TINYINT" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, account, password, is_send, enabled, role, created,salt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUserByAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="getUserByLogin" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where account = #{0} and password = #{1}
  </select>
  
  <select id="getAllList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
  
   <select id="getSendList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where 
    	enabled = 1 and is_send = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="daq.manage.model.User" >
    insert into user (id, name, account, 
      password, is_send, enabled, 
      role, created,salt)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{isSend,jdbcType=TINYINT}, #{enabled,jdbcType=TINYINT}, 
      #{role,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},#{salt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="daq.manage.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="isSend != null" >
        is_send,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="salt != null" >
        salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
       <if test="salt != null" >
         #{salt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="daq.manage.model.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        is_send = #{isSend,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="daq.manage.model.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      is_send = #{isSend,jdbcType=TINYINT},
      enabled = #{enabled,jdbcType=TINYINT},
      role = #{role,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      salt = #{salt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryPageList" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select
		<include refid="Base_Column_List" />	
	from
		user
	where
		1=1 
		<if test="account != null" >
			and account like CONCAT('%','${account}','%' )  
		</if>
	limit
		#{PAGE_START},#{PAGE_LIMIT}
  </select>
  <select id="count" resultType="int">
  	select 
  		count(1)
  	from 
  		user
  </select>
  <update id="updateEnabled">
  	update user 
  	set enabled = #{1}
  	where id = #{0}
  </update>
  <update id="updateIsSend">
  	update user 
  	set is_send = #{1}
  	where id = #{0}
  </update>
</mapper>